.sub-page {
  min-height: 100vh;
  margin: 80px;

  &__title {
    // margin-top: 80px;
    padding-bottom: 20px;
    font-size: 3.5rem;
    font-weight: 500;
    font-family: $font-style;
    text-align: center;
    border-bottom: 1px solid $txt-silver;
  }

  &__container {
    width: 100%;

    @include flex(center, space-evenly);

    flex-direction: row;
    flex-wrap: wrap;
  }

  &__pages {
    margin: 30px 0;

    @include flex(center, center);

    .page {
      margin: 0 5px;
      padding: 10px 20px;
      border-radius: 10px;
      border: 1px solid $txt-gray;
      font-weight: 600;

      @include flex(center, center);

      .icon {
        margin-left: 2px;
        font-size: 0.7rem;
      }
    }

    .page:hover {
      cursor: pointer;
    }

    .page-select {
      background-color: $main-color;
      color: $txt-white;
    }
  }
}
