.home {
  // @include flex(center, center);
  margin: 30px 0;

  &__title {
    text-align: center;
    font-family: $font-style;
    margin: 10px 0;
    font-size: 2rem;
    color: $main-color;
  }

  &__subtitle {
    @include flex(center, center);

    p {
      text-align: center;
      width: 40%;
      color: $txt-second-color;
    }
  }

  &__container {
    @include flex(center, center);

    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;

    .item {
      position: relative;
      margin: 20px 40px;
      width: 250px;
      flex-direction: column;

      @include flex(center, flex-end);

      > img {
        width: 250px;
        height: 250px;
        border-radius: 5px;
        object-fit: cover;
      }

      &__background {
        position: absolute;
        top: 0;
        width: 250px;
        height: 250px;
        opacity: 0.3;
        z-index: 9;
        background-color: #093d5d;
        // -webkit-transition: all 0.5s ease;
        // -moz-transition: all 0.5s ease;
        // -ms-transition: all 0.5s ease;
        // transition: all 0.5s ease;
      }

      &__add-cart {
        position: absolute;
        top: 125px;
        z-index: 10;

        .text {
          background-color: $main-color;
          padding: 10px 20px;
          color: $txt-white;
          font-weight: 700;
          text-transform: uppercase;
          border-radius: 10px;
        }

        .text:hover {
          background-color: #093d5d;
        }
      }

      &__rating {
        position: absolute;
        top: 0;
        color: $rating;
        font-size: 1.2rem;
        right: 10px;
        z-index: 15;
      }

      &__favorite {
        position: absolute;
        top: 0;
        left: 25px;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        background-color: $txt-main-color;
        color: $txt-white;
        z-index: 10;

        @include flex(center, center);
      }

      &__favorite-select {
        position: absolute;
        top: 0;
        left: 25px;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        background-color: $main-color;
        color: $txt-white;
        z-index: 10;

        @include flex(center, center);
      }

      &__triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 80px 250px;
        border-color: transparent transparent $main-bg transparent;
        position: absolute;
        bottom: 108px;
        z-index: 10;
      }

      &__collect {
        position: absolute;
        bottom: 100px;
        padding: 3px 15px;
        z-index: 10;
        background-color: $main-bg;
        text-align: center;
        text-transform: uppercase;
        color: $txt-second-color;
        box-shadow: $box-shadow-item;
        -webkit-box-shadow: $box-shadow-item;
        -moz-box-shadow: $box-shadow-item;

        @include flex(center, center);

        // .text {
        //   @include flex(center, center)

        // }
      }

      &__icons {
        margin-top: 25px;

        @include flex(center, center);

        &__icon {
          padding: 0 15px;
          color: $txt-second-color;

          @include flex(center, center);

          .info {
            font-size: 0.7rem;
            margin-left: 3px;
          }
        }
      }

      &__title {
        margin: 10px 0;
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
      }

      &__price {
        color: $main-color;
        font-weight: 600;
      }
    }

    .item:hover {
      cursor: pointer;
    }
  }

  &__load-more {
    margin: 20px;

    @include flex(center, center);

    .btn__load-more {
      background-color: $main-color;
      width: 10rem;
      height: 3rem;
      color: $txt-white;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 10px;
      box-shadow: $box-shadow;
      -webkit-box-shadow: $box-shadow;
      -moz-box-shadow: $box-shadow;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;

      @include flex(center, center);
    }

    .btn__load-more:hover {
      background-color: #093d5d;
      cursor: pointer;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
}
