.item {
  position: relative;
  margin: 20px 40px;
  width: 250px;
  flex-direction: column;

  @include flex(center, flex-end);

  > img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
  }

  &__background {
    position: absolute;
    top: 0;
    width: 250px;
    height: 250px;
    opacity: 0.3;
    z-index: 9;
    background-color: #093d5d;
    // -webkit-transition: all 0.5s ease;
    // -moz-transition: all 0.5s ease;
    // -ms-transition: all 0.5s ease;
    // transition: all 0.5s ease;
  }

  &__add-cart {
    position: absolute;
    top: 125px;
    z-index: 10;

    .text {
      background-color: $main-color;
      padding: 10px 20px;
      color: $txt-white;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 10px;
    }

    .text:hover {
      background-color: #093d5d;
    }
  }

  &__rating {
    top: 0;
    color: $rating;
    font-size: 1.2rem;
    right: 10px;
    z-index: 15;
  }

  &__favorite {
    position: absolute;
    top: 0;
    left: 25px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: $txt-main-color;
    color: $txt-white;
    z-index: 10;

    @include flex(center, center);
  }

  &__favorite-select {
    position: absolute;
    top: 0;
    left: 25px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: $main-color;
    color: $txt-white;
    z-index: 10;

    @include flex(center, center);
  }

  &__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 80px 250px;
    border-color: transparent transparent $main-bg transparent;
    position: absolute;
    bottom: 108px;
    z-index: 10;
  }

  &__collect {
    position: absolute;
    bottom: 100px;
    padding: 3px 15px;
    z-index: 10;
    background-color: $main-bg;
    text-align: center;
    text-transform: uppercase;
    color: $txt-second-color;
    box-shadow: $box-shadow-item;
    -webkit-box-shadow: $box-shadow-item;
    -moz-box-shadow: $box-shadow-item;

    @include flex(center, center);

    // .text {
    //   @include flex(center, center)

    // }
  }

  &__icons {
    margin-top: 25px;

    @include flex(center, center);

    &__icon {
      padding: 0 15px;
      color: $txt-second-color;

      @include flex(center, center);

      .info {
        font-size: 0.7rem;
        margin-left: 3px;
      }
    }
  }

  &__title {
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }

  &__price {
    color: $main-color;
    font-weight: 600;
  }
}

.item-ft, .item-cuisines {
  width: 180px;
  height: 180px;
  margin: 40px;
  position: relative;
  // border-radius: 10px;

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    // box-shadow: $box-shadow-item;
    // -webkit-box-shadow: $box-shadow-item;
    // -moz-box-shadow: $box-shadow-item;
  }

  &__title {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }

  &__background {
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 50%;
    position: absolute;
    background-color: #093d5d;
    opacity: 0.3;
  }
}

.item-cuisines {
  &__image {
    width: 100%;
    height: auto;
  }
}

