.review {
    &__header {
      @include flex(flex-start, space-between);

      &__user {
        width: 60%;
        margin-right: 40px;
        padding: 20px 0;

        &__title {
          @include flex(center, flex-start);

          .title {
            font-size: 2.2rem;
            font-weight: bolder;
            font-style: italic;
            font-family: $font-style;
          }

          .shape {
            margin: 0 40px;

            @include flex(center, center);

            .line {
              width: 120px;
              height: 2px;
              background-color: $rating;
            }

            //   .diamond {
            //     color: $main-color;
            //   }

            .diamond {
              margin-left: -3px;
              width: 0;
              height: 0;
              border: 6px solid transparent;
              border-bottom-color: $rating;
              position: relative;
              top: -6px;

              &::after {
                content: "";
                position: absolute;
                left: -6px;
                top: 6px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-top-color: $rating;
              }
            }
          }
        }

        &__rating {
          @include flex(center, flex-start);

          margin: 30px 0 20px 0;
          color: $txt-second-color;
          font-weight: 500;

          .rate {
            @include flex(center, center);

            margin: 0 10px;
            font-size: 1.2rem;
          }

          .star:hover {
            cursor: pointer;
            color: $rating;
          }

          .rate-selected {
            color: $rating;
          }
        }

        &__comment {
          width: 100%;

          .input-card {
            @include flex(center, center);

            width: 100%;

            &__name,
            &__email {
              position: relative;
              width: 50%;
              height: 60px;

              @include flex(center, flex-start);

              input {
                width: 100%;
                height: 100%;
                padding-left: 40px;
                border: none;
                border-bottom: 3px solid $txt-gray;

                &:focus {
                  outline: none;
                }

                &::placeholder {
                  color: $txt-second-color;
                }
              }

              .icon {
                position: absolute;
                height: 100%;
                top: -3px;
                font-size: 1.5rem;
                color: $txt-second-color;
              }
            }

            &__name {
              margin-right: 40px;
            }
          }

          .area-card {
            position: relative;
            margin: 30px 0;

            textarea {
              width: 100%;
              min-height: 50px;
              padding: 10px 40px;
              border: 0;
              border-bottom: 3px solid $txt-gray;
              // resize: none;

              &:focus {
                outline: none;
              }

              &::placeholder {
                color: $txt-second-color;
              }
            }

            .icon {
              position: absolute;
              top: 10px;
              left: 0;
              font-size: 1.5rem;
              color: $txt-second-color;
            }
          }

          .submit {
            &__button {
              padding: 0 20px;
              // width: 100%;
              height: 60px;
              font-size: 1.2rem;
              font-weight: 600;
              background-color: $main-color;
              color: $txt-white;
              border-radius: 50px;
              border: none;
              cursor: pointer;
            }

            &__button:hover {
              background-color: #093d5d;
            }
          }
        }
      }

      &__reviews {
        width: 40%;

        .card {
          width: 100%;
          min-height: 400px;
          height: auto;
          padding: 20px 40px;
          border: none;
          box-shadow: $box-shadow;
          flex-direction: column;

          @include flex(center, flex-start);

          &__title {
            font-size: 2rem;
            font-weight: bolder;
            font-style: italic;
            font-family: $font-style;
          }

          &__rating {
            margin: 10px 0;
            font-size: 1.1rem;

            @include flex(center, center);

            &__text {
              font-weight: 600;
              padding: 0 10px;
            }

            &__stars {
              @include flex(center, center);
              font-size: 1.2rem;
              color: $rating;
            }
          }

          &__progress {
            width: 100%;
            padding: 10px 0;
            color: $txt-second-color;

            .progress {
              height: 20px;
              border-radius: 10px;
            }

            .progress-bar {
              background-color: $rating;
              color: #093d5d;
            }
          }
        }
      }
    }

    &__body {
      margin: 20px 0;

      @include flex(flex-start, flex-start);

      &__avatar {
        margin-right: 40px;

        &__image {
          height: 100px;
          width: 100px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      &__content {
        @include flex(flex-start, center);

        flex-direction: column;

        .name {
          font-size: 1.5rem;
          font-weight: bolder;
          font-family: $font-style;
          font-style: italic;
        }

        .stars {
          font-size: 1.2rem;
          color: $rating;
        }

        .content {
          color: $txt-second-color;
        }

        .bottom {
          margin: 20px 0;

          @include flex(center, center);

          .date {
            color: $txt-second-color;
          }

          .line {
            width: 2px;
            height: 20px;
            margin: 10px;
            background-color: $txt-second-color;
          }

          .reply {
            @include flex(center, center);
            color: $rating;

            .icon {
              margin-right: 5px;
              font-size: 1.2rem;
            }

            .text {
              font-size: 0.8rem;
            }

            &:hover {
              cursor: pointer;
              color: #093d5d;
            }
          }
        }
      }
    }
  }